// Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Dosis:wght@300;400;500;700&family=Lato:ital,wght@0,300;0,400;1,700&family=Montserrat:wght@400;700&display=swap');



// Define fonts for body and headers
$body-font: 'Lato', sans-serif;
$headers-font: 'Dosis', sans-serif;
$lato: 'Lato', sans-serif;
$dosis: 'Dosis', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$cinzel-d: 'Cinzel Decorative', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
