[data-see-more-target="toggleButton"] {
  color: rgb(8, 113, 104);
  background-color: rgb(197, 255, 255);
  padding: 6px 6px;
  cursor: pointer;
  text-decoration: none;
}

.comment-text {
  display: inline;
}
